.collection-banner {
  .collection-item:nth-child(odd) {
    @include md {
      margin-top: -3rem;
    }
  }
  .collection-item-image {
    position: relative;

    @include md {
      padding-bottom: 140%;
    }
  }
}
